.container {
  width: min(calc(100% - var(--layout-container-gutter)), var(--container));
  margin-inline: auto;
}

.section {
  padding: var(--space-19) 0;
}

.section-header {
  margin-bottom: var(--space-16);
}

.section-header p {
  color: var(--color-muted);
  margin-top: var(--space-1);
}

.page-main {
  padding-bottom: var(--space-17);
}

@media (max-width: 800px) {
  .section {
    padding: var(--space-17) 0;
  }
}
